<a href="javascript:void(0)" class="copy" data-clipboard-action="copy" data-clipboard-text="<%= ippy.content %>" data-happiness="<%= ippy.views %>" data-id="<%= ippy.id %>">
    <li class="box" data-id="<%= ippy.id %>">
        <div><%= ippy.content %></div>
        <div class="copyme"> copy me!</div>
    </li>
</a>